/*Set up colour variables for ease of use*/
:root{
    --ccBlack: #000000;
    --ccBlue: #14213D;
    --ccYellow: #FCA311;
    --ccGrey: #E5E5E5;
    --ccWhite: #ffffff; 
}

body{
    background-color: var(--ccBlack);
}

.card {
    color: var(--ccBlack);
    margin: 24px 12px 24px 12px;
    background-color: var(--ccYellow);
    border-width: thick;
    border-color: var(--ccYellow);
}

.card h6{
    margin-bottom: 8px;
}

.card p{
    margin-bottom: 8px;
    font-weight: 500;
}

.card:hover{
     border-color: var(--ccGrey);
}
